<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServerBehavior">
          <serviceMetadata/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <services>
      <service name="Server.ServiceLSB" behaviorConfiguration="ServerBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:31000"/>
            <add baseAddress="http://localhost:31001"/>
          </baseAddresses>
        </host>

        <!--bindingConfiguration="default"-->
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="myTcp" contract="Server.IServiceLSB"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />

      </service>

    </services>

    <bindings>

      <netTcpBinding>
        <binding name="myTcp" maxBufferPoolSize="60000000" maxBufferSize="60000000" maxReceivedMessageSize="60000000">
          <security mode="None"/>
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
        </binding>
      </netTcpBinding>
    </bindings>

  </system.serviceModel>
</configuration>