<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IServiceLSB" maxBufferPoolSize="60000000" maxBufferSize="60000000" maxReceivedMessageSize="60000000">
                    <security mode="None"/>
                    <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:31000/" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IServiceLSB" contract="ServiceImgSend.IServiceLSB"
                name="NetTcpBinding_IServiceLSB" />
        </client>
    </system.serviceModel>
</configuration>